/* Asterisk wildcard to override default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: url('../images/ateez-illusion-image-700w.webp') #76F9FB no-repeat center center / cover; */
    background-image: url('../images/ateez-illusion-image-700w.webp');
    background-color: #76F9FB;
    background-repeat: no-repeat;
    /* To make elements centred in page  */
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#quiz-area {
    /* Make elements appear stacked underneath each other */
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 10px;
    width: 75%;
    margin: 10% auto;
}

#landing-page-img {
    /* Give space around image and center it inside the div */
    width: 90%;
    align-self: center;
}