/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;400&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&display=swap');

/* Asterisk wildcard to override default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Move image to bottom of screen and have matching background colour */
    background: #76F9FB url(../images/ateez-illusion-image-700w.webp) no-repeat 0 200% / 100%;
    /* To make elements centred in page  */
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
}

/* General font styling */
h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

p {
    padding: 0 10px 10px;
    font-size: 1.25rem;
    letter-spacing: 0.5px;
}


h1, h2 {
    font-family: "Averia Sans Libre", sans-serif;
    text-align: center;
    padding: 10px;
}

#quiz-area {

    /* Make elements appear stacked underneath each other */
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 10px;
    margin: 10%;
}

#landing-page-img {

    /* Give space around image and center it inside the div */
    width: 90%;
    align-self: center;
    border: 1px solid black;
}