/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;400&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&display=swap');

/* Asterisk wildcard to override default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* To make elements centred in page  */
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
}

/* General font styling */
h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

h1, h2 {
    font-family: "Averia Sans Libre", sans-serif;
    text-align: center;
    padding: 10px;
}

p {
    padding: 0 10px 10px;
    font-size: 1.25rem;
    letter-spacing: 0.5px;
}

#bg-image-div {
    /* Move image to bottom of screen and have matching background colour */
    width: 100vw;
    height: 100vh;
    background: #76f9fb url(../images/ateez-illusion-image-700w.webp) no-repeat 0 bottom / 100%;
}

#quiz-area {

    /* Make elements appear stacked underneath each other */
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 10px;
    margin: 10%;
}

/* To keep image within the div */
#landing-page-image > img {
    width: 85%;
    padding: 0 5%;
}

#quiz-area > hr {
    border: solid 1px black;
    margin: 0 5% 5%;
}

/* To allow buttons to remain in a row for responsive design */
#buttons-div {
    padding: 0 10px 15px;
    display: flex;
    justify-content: space-evenly;
}

#start-button, .button {
    font-size: 1.1rem;
    font-family: "Nunito sans", sans-serif;
    font-weight: 600;
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
    transition: ease 1s;
    box-shadow: 2px 2px 5px;
}

#start-button {
    color: black;
    background-color: #76F9FB;
}

.button {
    color: black;
    background-color: #FAD732;
}

/* Media query for tablet sizes and up */
@media screen and (min-width: 768px) {
    #bg-image-div {
        background-image: url(../images/ateez-illusion-image.webp);
        background-position: top;
    }

    /* Make the landing page image take up less space on larger screens  */
    #landing-page-image > img {
        width: 60%;
    }
}